/*reset */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilos del index*/ 
/*MOBILE FIRST*/


@import "utilities/variables";

body {

    background: linear-gradient($gradiente-uno,$gradiente-dos);
    background-repeat: no-repeat;
    height: 200vh;
    background-color: $gradiente-dos;

    header {

        z-index: 1;
        position: relative;
    
        nav{
    
            background-color: $color-nav-claro;
    
            ul li {
                margin: 0.2rem;
                display: inline-block;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
                color: $color-principal-textos;
                font-weight: bold;
                font-variant-caps: all-petite-caps;
                
                a {
                    color: $color-principal-textos;
                    display: inline;
                }
                
            } 
    
            li:hover {
    
                transform: scale(1.05);
            }
       }
    
       nav:hover {
    
            background-color: $color-nav-oscuro; 
        }
       
    
    }
    
    .contenedorIndex {
    
        width: 100%;
        display: grid;
        grid-template-columns: 10% 80% 10% ;
        grid-template-rows: 0.6fr 0.05fr 0.2fr 0.7fr 0.7fr 0.7fr 0.7fr 0.1fr 0.2fr 0.6fr;
      
        grid-template-areas: "portadaPrincipal portadaPrincipal portadaPrincipal"
                             "citaTextual citaTextual citaTextual"
                             "conoce conoce conoce"
                             ". conoceUno ."
                             ". conoceDos ."
                             ". conoceTres ." 
                             ". conoceCuatro ."
                             ". masPersonajes ."
                             ". lugar ."
                             "areaVideoLugar areaVideoLugar areaVideoLugar"
                            ;
    
        .portadaPrincipal {
    
            grid-area: portadaPrincipal;
    
            .imgPrincipal {
    
                width: 100%;
                height: 100%;
            }
        }
    
        .sinopsis { 
    
            display: none;
        }
    
        .citaTextual {
    
            grid-area: citaTextual;
            font-size: 0.9rem;
            font-family: 'Port Lligat Sans', sans-serif;
            text-align: center;
            color:$color-secundario-textos;
            padding: 0.5rem;
        }
    
        .conoce {
            grid-area: conoce;
    
        }
        .conoce, .lugar {
    
            color: $color-principal-textos;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.5rem;
            margin: 0.8rem 0.8rem;
            text-align: center; 
        }
    
        .conoceUno {
            grid-area: conoceUno; 
    
            
            .conoceTexto {
        
                width: 11rem;
                padding-top: 1rem ;
                padding-right: 0.7rem;
                text-align: left;       
                width: 80%;
                margin-bottom: 0.5rem;
          
                
                .conoceTexto h3 {
                    margin-top: 0.8rem;
                    font-size: 1.2rem;
                    color: $color-principal-textos;
                }
    
                .conoceTexto p {
                    font-size: 0.9rem;
                    color: $color-principal-textos;   
                }
            }
        }
    
        .conoceDos {
            grid-area: conoceDos;
        }
    
        .conoceTres {
            grid-area: conoceTres;
        }
    
        .conoceCuatro {
            grid-area: conoceCuatro;
        }
    
        .conoceUno , .conoceDos , .conoceTres, .conoceCuatro {
    
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem;
       
        }
    
        div a img {
    
            width: 100%;
            height: 100%;
            transition: 0.5s;
            object-fit: cover;
            margin-top: 0.5rem;
        
        }
    
        div a img:hover {
    
            transform: scale(1.02);
        }
    
        
        .masPersonajes {
    
            grid-area: masPersonajes;
            justify-self: center;
    
             a {
                margin: 0;
            }
        }
    
        .masPersonajes, .masLugar {
      
            margin-bottom: 3rem;
            border: none solid 1rem;
            border-radius: 1rem;
            padding: 1rem;
            background-color:$boton;
            text-align: center;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
               
        }
    
        .masPersonajes:hover {
            background-color: $boton-accionado;
            transform: scale(1.05);
        }
    
    
        .lugar {
    
            grid-area: lugar;
    
        }
    
        .areaVideoLugar {
            grid-area: areaVideoLugar;
            margin-top: 1.2rem;
            width: 325px;
            height: 300px;
            overflow-y: auto;
            overflow-x: auto;
            resize: both;
            position: relative;
            z-index: 2;
            justify-self: center;
    
            .cajaIframe {
    
                width: 100%;
                height: 100%;
                border: none;
            }
        
        }
    
        .cajaLugar {
            display: none;
        }
                            
    }

    footer {
    
        margin-top: 2rem;
        height: 8rem;

        
        .derechosReservados {
    
            text-align: center;
            margin-top: 7rem;
            font-size: 1rem;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: $color-secundario-textos;
        }

        
        .logoRedes {
    
            margin-top: 1rem;
            margin-bottom: 2rem;
            display: flex;
            justify-content:center;
            gap: 1rem;
        }
    }     
}

/*declaramos media queries para tablet min 600px*/

@media screen and  (min-width:600px) {


    .contenedorIndex {

        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 0.6fr 0.05fr 0.2fr 0.7fr 0.7fr 0.7fr 0.7fr 0.1fr 0.2fr 0.6fr;
        grid-template-areas: "portadaPrincipal portadaPrincipal portadaPrincipal"
                         "citaTextual citaTextual citaTextual"
                         "conoce conoce conoce"
                         ". conoceUno ."
                         ". conoceDos ."
                         ". conoceTres ." 
                         ". conoceCuatro ."
                         ". masPersonajes ."
                         ". lugar ."
                         "areaVideoLugar areaVideoLugar areaVideoLugar"; 

        .citaTextual {
            font-size: 1rem;
        }

        
        .areaVideoLugar {
            margin-top: 1.2rem;
            width: 650px;
            height: 550px;
        }
    }
}

@media screen and  (min-width:1024px) {

 
    .contenedorIndex {

        grid-template-rows: 0.8fr 0.1fr 0.1fr 0.5fr 0.1fr 0.1fr 0.15fr 1fr;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas: "portadaPrincipal portadaPrincipal portadaPrincipal portadaPrincipal" 
                             ". citaTextual citaTextual ."
                             ". conoce conoce . "
                             ". conoceUno conoceDos ."
                             ". conoceTres conoceCuatro ."
                             ". masPersonajes masPersonajes . "
                             " lugar lugar lugar lugar"
                             " areaVideoLugar areaVideoLugar areaVideoLugar cajaLugar "
                            ;
        column-gap: 0.7rem;
                
        justify-content:center ;

        .sinopsis {

            display: block;
            width: 30%;
            padding: 0.6rem;
            margin-top: 1rem;
            margin-left: 2rem;
            position: absolute;
            top: 30%;
            left: 50%;

            h1 {

                font-weight: bold;
                font-family: 'Josefin Sans', sans-serif; 
                font-variant-caps: all-small-caps;
                font-size: 3rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                text-align: center; 
                color: $color-secundario-textos              
            }           
            p {
            
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 0.9rem;
                text-align: center;
                color:$color-secundario-textos;
            }
                       
        }

        .lugar {
            margin-top: 2rem;
        }
        .areaVideoLugar {
            margin-top: 1.2rem;
            width:70%;
            height: 70%;
            grid-area: areaVideoLugar;
            justify-self: right;

            .cajaIframe {

                width: 100%;
                height: 100%;
                border: none;
            }
        }
 
        .cajaLugar {

            display: block;
            grid-area: cajaLugar;
            width: 80%;
            padding: 0.5rem;
            margin-top: 1.2rem;
            font-size: 1rem;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            justify-self: left;

            h3 {
                color: $color-principal-textos;
                font-size: 1.2rem;
            }
            p {
                color: $color-principal-textos;
            }
            
            .masLugar  {

                justify-content: center;
                margin-top: 2rem;
                margin-bottom: 1rem;
                display: inline-block;
                    
            }

            .masLugar:hover {
                background-color: $boton-accionado;
                transform: scale(1.05);
    
            }
        }
    }
}

