
$personajeprinc: (

    color-princ: whitesmoke, 
    font-princ-size: 1.2rem,
    font-princ-align: center,   
);

$personajesec: (

    color-sec: whitesmoke, 
    font-sec-size: 0.95rem, 
    font-sec-align: justify,
);
