/*variables*/

$color-principal-textos: whitesmoke;
$color-secundario-textos:black;
$color-nav-claro: rgb(219, 205, 186);
$color-nav-oscuro:rgba(37, 36, 36, 0.897);
$boton:rgb(115, 73, 133);
$boton-accionado: rgb(106, 68, 122);
$gradiente-uno: rgb(219, 205, 186);
$gradiente-dos: rgb(77, 74, 74);