
$princ: (

    color-princ: whitesmoke, 
    font-princ: 'Bree Serif', serif,
    font-princ-tamaño: 1rem,
    font-princ-align: center,
    
);

$sec: (

    color-sec: whitesmoke, 
    font-sec: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,
    font-sec-tamaño: 0.85rem, 
    font-sec-align: justify,
);

