// mixin con parametros

@mixin medidas ($width, $heigth) {

    width: $width;
    height: $heigth;
}

//mixin sin parametros

@mixin titulos-princ {
    
    color: whitesmoke; 
    font-family: 'Bree Serif'serif;
    text-align: center;
    margin: 0.8rem, 0.8rem;
    font-size: 1.7rem;
    
}


