$color-nav:  rgba(37, 36, 36, 0.897);
$texto-osc: rgb(77, 74, 74) ;
$texto-claro: whitesmoke;
$texto-general: 'Gill Sans''Gill Sans MT' Calibri 'Trebuchet MS'sans-serif;
$boton:rgb(115, 73, 133);
$boton-accionado: rgb(106, 68, 122);
$gradiente-uno: rgb(219, 205, 186);
$gradiente-dos: rgb(77, 74, 74);